@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.videos{
  background-color: #F5F5F5;
  padding-bottom: 40px;
}

.videos__header{
  text-align: center;
  background-color: #fff;
  font-size: 55px;
  font-weight: bold;
  padding:80px 0;
}

.videos__constainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos__list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between !important;
}

.videos__item{
  max-width: 400px;
  border-radius: 30px;
}

.videos__you{
  max-width: 400px;
  border-radius: 30px;
}

.more-btn3{
  display: flex;
  align-items: center !important;
  justify-content: center;
  padding: 7px 23px;
  background-color: #ffffff;
  color: #5A5A5A;
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 3px 8px #5A5A5A;
}

.more-btn3:hover {
  opacity: 0.7;
}

.more-btn3:active {
  opacity: 0.4;
}

.more-btn-span {
  margin-left: 10px;
}

.more-btn:hover {
  opacity: 0.7;
}

.more-btn:active {
  opacity: 0.4;
}

@media (max-width: 1250px){

  .videos__you{
    border-radius: 30px;
    max-width: 300px;
    max-height: 170px;
  }

}


@media (max-width: 950px){
  .videos__list{
    flex-direction: column;
    align-items: center;
  }

  .videos__you{
    border-radius: 30px;
    max-width: 560px;
    max-height: 315px;
  }


}

@media (max-width: 720px){
  .videos__header{
    padding-bottom: 48px;
    font-size: 33px;
  }

}

@media (max-width: 520px){
  .videos__header{
    padding-bottom: 32px;
    font-size: 30px;
  }

}

@media (max-width: 450px){
  .videos__you{
    border-radius: 30px;
    max-width: 320px;
    max-height: 180px;
  }

}

@media (max-width: 370px){
  .videos__you{
    border-radius: 30px;
    max-width: 250px;
    max-height: 140px;
  }

}