
.partners{
  background-color: #F5F5F5;
}

.partners__header{
  text-align: center;
  background-color: #fff;
  font-size: 55px;
  font-weight: bold;
  padding: 80px 0;
}

.partners__list{
  margin: 0;
  padding: 0;
  padding: -10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
}

.partners__item{
  margin: 0;
  padding: 0;
  padding: 10px;
}

.partners__item:hover {
  opacity: 0.5;
}

.partners__img20{
  max-width: 227px;
}

@media (max-width: 1100px){

  .partners__img20{
    max-width: 182px;
  }
  .partners__img1{
    max-width: 182px;
  }
  .partners__img2{
    max-width: 135px;
  }
  .partners__img3{
    max-width: 175px;
  }
  .partners__img4{
    max-width: 144px;
  }
  .partners__img5{
    max-width: 177px;
  }

}

@media (max-width: 600px) {

  .partners__img20{
    max-width: 138px;
  }
  .partners__img1{
    max-width: 138px;
  }
  .partners__img2{
    max-width: 101px;
  }
  .partners__img3{
    max-width: 131px;
  }
  .partners__img4{
    max-width: 108px;
  }
  .partners__img5{
    max-width: 126px;
  }

}

@media (max-width: 900px) {

  .partners__list{
    max-width: 950px;
  }

}

@media (max-width: 670px) {

  .partners__header{
    padding: 45px 0;
    font-size: 33px;
  }

}

@media (max-width: 450px) {

  .partners__header{
    padding: 45px 0;
    font-size: 30px;
  }

}
