@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.news__container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 20px !important ;
}

.news__top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.news__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__news {
  font-size: 55px;
  margin-bottom: 80px;
  font-weight: bold;
  align-self: center;
}

.news__list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color: #F5F5F5;
  border-radius: 30px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.news__item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 376px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2)
}

.news__img{
  width: 100%;
  height: 250px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.news__body{
  padding: 10px 15px;
}

.news__header{
  font-size: 26px;
  line-height: 29px;
}

.news__desc{
  font-size: 17px;
  line-height: 19px;
}

.news_location{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.news__date{
  font-size: 20px;
}

.more-btn4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 23px;
  background-color: #ffffff;
  color: #5A5A5A;
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 3px 8px #5A5A5A;
  max-width: 200px;
  width: 100%;
}

.more-btn4:hover {
  opacity: 0.7;
}

.more-btn4:active {
  opacity: 0.4;
}

.more-btn2{
  display: none;
  align-items: center !important;
  justify-content: center;
  padding: 7px 23px;
  background-color: #ffffff;
  color: #5A5A5A;
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 3px 8px #5A5A5A;
}

.more-btn2:hover {
  opacity: 0.7;
}

.more-btn2:active {
  opacity: 0.4;
}

.more-btn-span {
  margin-left: 10px;
}

.more-btn:hover {
  opacity: 0.7;
}

.more-btn:active {
  opacity: 0.4;
}

.alice-carousel__stage-item{
  text-align: -webkit-center;
}

.alice-carousel__stage-item {
  cursor: pointer;
  overflow: hidden;
}

.alice-carousel__stage-item:hover {
  opacity: 0.7;
}

.alice-carousel__stage-item:active {
  opacity: 0.5;
}

/* .alice-carousel__stage-item div img {
  height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.alice-carousel__stage-item:hover div img {
	width: 400px;
} */

@media (max-width: 900px) {

  .news__top{
    justify-content: center;
  }

  .more-btn4 {
    display: none;
  }

  .more-btn2{
    display: flex !important;
    margin-top: 20px;
  }
}

@media (max-width: 850px) {

  .header__news{
    margin-bottom: 48px;
    font-size: 33px;
  }

  .a_news__body {
    padding: 0;
    padding-top: 10px;
  }

  .news__list {
    padding: 20px 0;
    border-radius: 25px;
  }

  .news__item{
    max-width: 275px;
    border-radius: 18px;
  }

  .news__img{
    max-width: 275px;
    max-height: 221px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .news__header{
    font-size: 21px;
    line-height: 24px;
  }

  .news__desc{
    font-size: 15px;
    line-height: 19px;
  }

  .news_location{
    font-size: 21px;
  }

  .news__date{
    font-size: 18px;
  }

}

@media (max-width: 650px) {

  .news__item{
    max-width: 326px;
  }

  .news__img{
    max-width: 326px;
    width: 100%;
  }

}

@media (max-width: 510px) {

  .a_news__img {
    height: 240px;
  }

  .a_news__header {
    padding: 0 10px;
    font-size: 26px;
  }

  .header__news{
    margin-bottom: 32px;
    font-size: 30px;
  }

  .news__list {
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
  }

  .news__item{
    box-shadow: none;
    background-color: #F5F5F5;
  }

  .news__header{
    font-size: 19px;
    line-height: 18px;
  }

  .news__desc{
    font-size: 15px;
    line-height: 19px;
  }

  .news_location{
    font-size: 14px;
  }

  .news__date{
    font-size: 15px;
  }
}

@media (max-width: 400px) {

  .a_news__img {
    height: 200px;
  }

}

@media (max-width: 360px) {

  .a_news__img {
    height: 180px;
  }

}