@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');




.news__container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 50px !important ;
}

.news__top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__news {
  font-size: 55px;
  margin-bottom: 80px;
  color: #707070;
  font-weight: bold;
  align-self: center;
}

.news__list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 50px; 
  background-color: #F5F5F5;
  border-radius: 30px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.news__item{  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 336px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2)
}

.news__img{
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.news__body{
  padding: 10px 15px;
}

.news__header{
  font-size: 26px;
  line-height: 29px;
}

.news__desc{
  font-size: 17px;
  line-height: 19px;
}

.news_location{
  font-size: 26px;
  margin: 0;
  padding: 0;
}

.news__date{
  font-size: 20px;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 23px;
  background-color: #ffffff;
  color: #5A5A5A;
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 3px 8px #5A5A5A;
}

.more-btn2{
  display: none;
  align-items: center !important;
  justify-content: center;
  padding: 7px 23px;
  background-color: #ffffff;
  color: #5A5A5A;
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 3px 8px #5A5A5A;
}

.more-btn-span {
  margin-left: 10px;
}

.more-btn:hover {
  opacity: 0.7;
}

.more-btn:active {
  opacity: 0.4;
}

.alice-carousel__stage-item{
  text-align: -webkit-center;

}




@media (max-width: 900px) {
  .more-btn {
    display: none;
  }

  .more-btn2{
    display: flex !important;
    

  }
}

@media (max-width: 720px) {

  .header__news{
    margin-bottom: 48px;
    font-size: 33px;
  }

  .news__list {    
    padding: 41px;
    border-radius: 25px;
  }

  .news__item{    
    max-width: 275px;
    border-radius: 18px;
  }

  .news__img{
    max-width: 275px;
    max-height: 221px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .news__header{
    font-size: 21px;
    line-height: 24px;
  }
  
  .news__desc{
    font-size: 15px;
    line-height: 19px;
  }
  
  .news_location{
    font-size: 21px;  
  }
  
  .news__date{
    font-size: 18px;
  }

  .more-btn2{
    width: 100%;
    margin-top: 15px;
  }
  
}  


@media (max-width: 510px) {

  .header__news{
    margin-bottom: 32px;
    font-size: 30px;
  }

  .news__list {    
    justify-content: center;
    padding: 17px;
    border-radius: 17px;
  }


}  

@media (max-width: 420px) {

  .news__list {    
    padding: 15px;
    border-radius: 8px;
  }

   .news__item{    
    max-width: 220px;
    border-radius: 12px;
  }

  .news__img{
    max-width: 220px;
    max-height: 146px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .news__header{
    font-size: 14px;
    line-height: 20px;
  }
  
  .news__desc{
    font-size: 15px;
    line-height: 19px;
  }
  
  .news_location{
    font-size: 14px;  
  }
  
  .news__date{
    font-size: 15px;
  }
}

@media (max-width: 350px) {
   .news__item{    
    max-width: 170px;
  }

  .news__img{
    max-width: 170px;
    max-height: 146px;
  }

}