@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.products__container{
  padding-top: 80px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__header{
  font-size: 55px;
  margin-bottom: 80px;
  color: #707070;
  font-weight: bold;
  /* background-image: url(); */
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -15px;
  padding: 0 20px;

}

.products__item {
  display: flex;
  margin: 15px;
  max-width: 1200px;
  width: 100%;
}

/* .item__img {
  margin: 494px;
  height: 266px;
} */

.item__header {
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.products__link {
  text-decoration: none;
}

.item__body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 806px;
  max-height: 266px;
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  background-repeat:no-repeat ;
  background-size: cover;
  background: rgb(250,255,254);
  background: linear-gradient(274deg, rgba(250,255,254,1) 0%, rgba(235,232,240,1) 47%, rgba(231,228,235,1) 91%);
}

.item__desc {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}



@media (max-width: 720px) {

  .products__header{
    margin-bottom: 48px;
    font-size: 33px;
  }

  .products__item {
    max-width: 266px;
    display: flex;
    margin: 15px;
    max-width: 1200px;
    width: 100%;
  }

 .item__img{
  max-width: 300px;
  max-height: 160px;
 }
 .item__body{
  max-height: 160px;
  padding-left: 24px;

 }

 .item__header {
  font-size: 23px;
 }

 .item__desc{
  font-size: 15px;
 }

}

@media (max-width: 510px) {

  .products__header{
    margin-bottom: 32px;
    font-size: 30px;
  }

  .products__item{
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  .item__img{
    max-width: 500px !important;
    width: 100%;
    height: 200px;
  }

  .item__body{
    padding: 10px;
    max-width: 400px;
  }

}
