@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

html {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

.visually-hidden {
  display: none;
}

body {
  margin-top: 101px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;
  background-color: #ffffffda;
  z-index: 10;
}

.header-logo-wrapper {
  cursor: pointer;
}

.header-logo-link {
  text-decoration: none;
}

.header-logo-link:hover {
  opacity: 0.7;
}

.header-logo-link:active {
  opacity: 0.4;
}

.language-img {
  width: 52px;
  height: 27px
}

.header-desc {
  font-weight: bold;
  color: #32779C;
  font-size: 25px;
}

.header-line {
  width: 1px;
  height: 55px;
  background-color: #CCCCCC;
}

.header-nav-item + .header-nav-item {
  margin-left: 31px;
}

.header-nav-link {
  text-decoration: none;
  color: #5A5A5A;
  font-size: 17px;
  font-family: 'Wix Madefor Display', sans-serif;
}

.header-nav-link:hover {
  color: #32779C;
  opacity: 0.7s;
}

.header-nav-link:active {
  color: #5A5A5A;
  opacity: 0.3s;
}

.header-nav-select {
  border: transparent;
  max-width: 85px;
  color: #5A5A5A;
}

.header-hamburger {
  display: none;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  background-image: url(../src/assets/images/hamburger.png);
  width: 25px;
  height: 25px;
  background-size: contain;
}

@media (max-width: 1220px) {

  .header-desc {
    display: none;
  }

  .header-line {
    display: none;
  }

}

@media (max-width: 920px) {

  .site-nav {
    display: none;
  }

  .header-select-wrapper {
    margin-left: auto;
    margin-right: 30px;
  }

  .header-hamburger {
    display: inline-block;
  }

  .header--open .header__bg {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 25%;
    height: 100vh;
    background-color: #000;
    opacity: 0.75;
  }

  .header--open .site-nav {
    padding-top: 64px;
    padding-bottom: 24px;
    display: inline-block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 75%;
    height: 100vh;
    background: #ffffff;
    border: 3px solid #32779C;
  }

  .header--open .site-nav-list {
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header--open .header-hamburger {
    background-image: url(../src/assets/images/close.png);
    width: 25px;
    height: 25px;
  }

  .header-nav-link {
    color: #000000;
    opacity: 0.7s;
    font-weight: 600;
    font-size: 25px;
  }

  .header-nav-item + .header-nav-item {
    margin-left: 0px;
    margin-top: 25px;
  }

}

@media (max-width: 550px) {

  .header-nav-link {
    font-size: 20px;
  }

}

@media (max-width: 450px) {


  .header-nav-link {
    font-size: 17px;
  }

  .language-img {
    width: 50px;
    height: 24px
  }

}

@media (max-width: 520px) {

  .header {
    padding: 8px 0;
  }

}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container{
  padding: 50px 20px;
}

.footer__top {
  width: 100%;
  display:  flex;
  justify-content: center;
  align-items: flex-end;
}

.footer__top_responsive {
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.footer__middle{
  margin-bottom: 20px;
}

.footer__bottom{
  width: 100%;
}

.footer__header {
  font-weight: bold;
  color: #32779C;
  font-size: 25px;
}

.foooter__txt{
  margin: 0;
  padding: 0;
  padding: 8px;
  color: #5A858D;
  font-size: 15px;
  text-align: center;
  background-color: #EFF9FF;
  font-weight: 700;
}

.footer-nav-item + .footer-nav-item {
  margin-left: 31px;
}

.footer-nav-link {
  text-decoration: none;
  color: #5A5A5A;
  font-size: 17px;
  font-family: 'Wix Madefor Display', sans-serif;
}

.footer-nav-link:hover {
  color: #32779C;
  opacity: 0.7s;
}

.footer-nav-link:active {
  color: #5A5A5A;
  opacity: 0.3s;
}

@media (max-width: 700px){

  .footer__top_responsive{
    padding: 13px 0;
    margin-top: 30px;
    background-color: #EFF9FF;
  }

  .footer__header {
    padding: 0 !important;
  }

  .footer__container {
    padding: 10px 20px !important;
  }

  .footer__top_responsive {
    display: flex !important;
  }

  .footer__top {
    display: none;
  }

 .foooter__txt{
  background-color: transparent;
 }

  .footer__middle{
    display: none;
    margin: 0;
    padding: 0;
  }

}

@media (max-width: 450px){

  .footer__top {
    margin: 8px 0;
  }

  .footer_logo{
    max-width: 33px;
    max-height: 33px;
  }

  .footer__header {
    font-size: 15px;
    padding-top: 20px;
  }

  .foooter__txt{
    font-size: 10px;
  }

}

@media (max-width: 360px) {

  .footer-sites-list {
    justify-content: center !important;
  }

}

.footer-sites-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
  color: #5A5A5A;
  font-weight: 700;
}

.footer-sites-list {
  max-width: 500px;
  width: 100%;
}

.footer-sites-link:hover {
  opacity: 0.7;
}

.footer-sites-link:active {
  opacity: 0.4;
}

.footer-sites-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #dadada51;
  border-radius: 50%;
  color: #32779C;
}

@media (max-width: 750px) {

  .footer__container {
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
  }

  .footer-sites-middle {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-sites-heading {
    font-size: 18px;
  }

}

.border-footer {
  border-top: 20px solid #EFEFEF;
}

/* ! spinner -------------- */

.loader {
  padding: 20px 0;
  margin: 120px 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 7px solid #32779c;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: red;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@media (max-width: 858px) {

  .loader {
    width: 100px;
    height: 100px;
  }

}

@media (max-width: 658px) {

  .loader {
    width: 80px;
    height: 80px;
  }

}

@media (max-width: 478px) {

  .loader {
    width: 60px;
    height: 60px;
  }

}