html {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

.visually-hidden {
  display: none;
}

body {
  margin-top: 101px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 20px !important;
}