@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main{
  background-color: #EFEFEF;
  padding-bottom: 20px;
}

.a_service__about{
  background-color: #fff;
}

.service__about__container{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px 20px;
}


.a_service__header{
  margin-bottom: 20px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  background-color: #fff !important;
}

.a_services-list {
  padding: 20px 0;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.a_services-item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border-radius: 20px;
}

.a_services-item:hover {
  opacity: 0.7;
}

.a_services-item:active {
  opacity: 0.4;
}


.a_services-title {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.a_service-desc{
  padding: 10px !important;
  font-size: 15px;
}

.services-desc-title {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1050px) {
  .a_services-list {
    grid-template-columns: repeat(2, 1fr);
  }

}






@media (max-width: 750px) {

  .a_service__header {
    margin-bottom: 10px;
    padding-bottom: 25px;
    font-size: 40px;
  }


  .a_service__title{
    padding-bottom: 5px;
    font-size: 21px;
  }

  .a_service__desc {
    padding-bottom: 5px;
    font-size: 15px;
  }

}

@media (max-width: 690px) {

  .a_services-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .a_services-item {
    max-width: 500px;
    width: 100%;
  }

  .a_services-img {
    max-width: 500px !important;
    width: 100%;
    /* height: 300px; */
  }




}



@media (max-width: 550px){
  .a_service__header {
    font-size: 30px;
  }
}